@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-clr: hsl(0, 4%, 10%);
    --primary-clr: rgb(205, 42, 42);
    --primary-highlight-clr: hsl(0, 66%, 58%);
    --background-dark-clr: hsl(0, 4%, 7%);

    --silver-hsl: 0 0% 75%;
    --gold-hsl: 46 65% 52%;
    --diamond-hsl: 191 100% 86%;
    --platinum-hsl: 40 5% 89%;
    
    --silver: hsl(0, 0%, 50%);
    --gold: hsl(46, 65%, 52%);
    --diamond: hsl(191, 100%, 86%);
    --platinum: hsl(0, 8%, 91%);

    --neon-effect: 0 0 0 transparent,
        0 0 20px rgb(255, 0, 0),
        0 0 50px rgba(255, 0, 0,.5),
        0 0 200px rgba(255, 0, 0, .5),
        0 0 250px rgba(255, 0, 0, 1),
        0 0 300px rgba(255, 0, 0, 1),
        -250px -100px 100px rgba(255, 0, 0, 1)
}

footer p a {
    color: var(--primary-clr);
}

footer a:hover {
    color: var(--primary-highlight-clr);
}

html, body {
    min-height: 100vh;
}

body {
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.button {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .75em;
    --btn-clr: rgb(205, 42, 42);
    color: var(--btn-clr);
    border: 4px solid var(--btn-clr);
    text-shadow: 
        0 0 .125em hsl(0 0% 100% / .5),
        0 0 1.25em var(--btn-clr);
    
    box-shadow: 
        0 0 .125em hsl(0 0% 100% / .5),
        inset 0 0 1.25em var(--btn-clr),
        0 0 1.25em var(--btn-clr);
    display: inline-block;
    font-weight: 900;
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    transition: background 250ms ease-in-out;
}

.button[--data-size=sm] {
    font-size: 1rem;
    padding: .5rem 1rem;

}

.donations-info {
    display: grid;
    place-content: center;
}

.button:hover, .button:focus {
    background-color: var(--btn-clr);
    text-shadow: none;
    color: black;
}

.button::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4em 0 var(--btn-clr);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.button:hover::after {
    opacity: 1;
}

.primary-txt {
    color: #dedede;
}

.secondary-txt {
    color: #bebebe;
}

.h-blocks > *:not([unpad]){
    --padding: clamp(1rem, 8vw, 15rem);
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.flow > *:not(:last-child) {
    margin-bottom: var(--spacer, 5rem);
} 

ul {
    list-style: none;
}

